menu "Example Project Config"

    config EXAMPLE_USE_NETLOGGING
        bool "Enable net-logging component"
        default y
        help
            Enable the core net-logging component

    if EXAMPLE_USE_NETLOGGING

        config EXAMPLE_USE_NETLOGGING_SSE_SERVER
            bool "Use HTTP SSE Logging Server"
            default y
            help
                Use HTTP SSE Logging Server.

        if EXAMPLE_USE_NETLOGGING_SSE_SERVER

            config EXAMPLE_NETLOGGING_SSE_LISTEN_PORT
                int "[SSE] Port to bind the SSE server on"
                default 8080
                help
                    Port to bind the HTTP SSE logging server on

        endif # EXAMPLE_USE_NETLOGGING_SSE_SERVER

        config EXAMPLE_USE_NETLOGGING_MULTICAST
            bool "Use IP Multicast to send logs"
            default y
            help
                Use IP Multicast to send logs.

        if EXAMPLE_USE_NETLOGGING_MULTICAST

            config EXAMPLE_NETLOGGING_MULTICAST_IP
                string "[Multicast] IP address/group to send log output"
                default "239.2.1.2"
                help
                    Multicast IP address/group to send log output

            config EXAMPLE_NETLOGGING_MULTICAST_PORT
                int "[Multicast] Port to send log output"
                default 2054
                help
                    Multicast Port to send log output

        endif # EXAMPLE_USE_NETLOGGING_MULTICAST

        config EXAMPLE_USE_NETLOGGING_UDP
            bool "Use UDP Client to send logs"
            default y
            help
                Use UDP Client to send logs.

        if EXAMPLE_USE_NETLOGGING_UDP

            config EXAMPLE_NETLOGGING_UDP_IP
                string "[UDP] IP address to send log output"
                default "255.255.255.255"
                help
                    IP address to send log output to

            config EXAMPLE_NETLOGGING_UDP_PORT
                int "[UDP] Port to send log output"
                default 6789
                help
                    Port to send log output to

        endif # EXAMPLE_USE_NETLOGGING_UDP

        config EXAMPLE_USE_NETLOGGING_TCP
            bool "Use TCP Client to send logs"
            default y
            help
                Use TCP Client to send logs.

        if EXAMPLE_USE_NETLOGGING_TCP

            config EXAMPLE_NETLOGGING_TCP_IP
                string "[TCP] IP address to send log output"
                default "192.168.10.46"
                help
                    IP address to send log output to

            config EXAMPLE_NETLOGGING_TCP_PORT
                int "[TCP] Port to send log output"
                default 8080
                help
                    Port to send log output to

        endif # EXAMPLE_USE_NETLOGGING_TCP


        config EXAMPLE_USE_NETLOGGING_HTTP_CLIENT
            bool "Use HTTP Client to send logs"
            default y
            help
                Use HTTP Client to send logs to an external HTTP server.

        if EXAMPLE_USE_NETLOGGING_HTTP_CLIENT

            config EXAMPLE_NETLOGGING_HTTP_CLIENT_CONNECT_URL
                string "[HTTP] URL of the http server to connect to"
                default "http://myhttpserver.local:8000"
                help
                    URL of the http server to connect to.

        endif # EXAMPLE_USE_NETLOGGING_HTTP_CLIENT

        config EXAMPLE_NETLOGGING_WRITE_TO_STDOUT
            bool "Enable Write Logging to stdout (UART)"
            default y
            help
                Enable Write Logging to stdout (UART) in addition to any network options.

    endif # EXAMPLE_USE_NETLOGGING






endmenu
